/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 // ----- NOTICE AND ALERT

 .notice, .alert {
 font-family: 'Quicksand', sans-serif;
   color: #fff;
   margin-top: 100px;
   background-color: rgba(102, 239, 234, 0.6);
   z-index: 999;
   position: absolute;
   padding: 10px 20px 10px 20px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border: 1px solid #fff;
 }


body {
  margin: 0;
  background:image-url('index_darkgrey_back.jpg') no-repeat fixed;
  background-color: #111111;
  background-repeat: no-repeat;
  background-size: cover;
   /*background: -webkit-linear-gradient(left top, #212323, #4b4f4f);
   background-repeat: no-repeat;
   background-size:100%; */
}

// ----- NAVIGATION BAR

.search_bar {
  margin-left: 130px;
  // background-color: rgba(66, 244, 232, 0.3);
  background-color: rgba(48, 255, 217, 0.3);
  border: none;
  // border: 1px solid rgba(48, 255, 217, 0.65);
  border-radius: 25px;
  outline: none;
  color: #fff;
  padding: 7px 20px 7px 20px;
  transition: 1s;
}

.search_bar:focus {
  padding: 7px 150px 7px 20px;
  transition: 1.5s;
  background-color: rgba(48, 255, 217, 0.65);
}

.search_bar:focus + .search_bar_submit {
  background-color: rgba(102, 239, 234,0.87);
  transition: 1s;
}

.search_bar::-webkit-input-placeholder {
  color: #fff;
}

.search_bar_submit {
  margin-top: 16px;
  outline: none;
  margin-left: -59px;
  // background-color: rgba(57, 239, 221, 0.3);
  background: none;
  color: #fff;
  border-radius: 25px;
  padding: 7px 20px 7px 20px;
  border: none;
  transition: .3s;
}


.search_bar_index {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: transparent;
  margin-top: 30px;
  border: 1px solid rgba(48, 255, 217, 0.8);
  border-radius: 55px;
  text-indent: 15px;
  height: 60px;
  padding: 5px 30px 5px 10px;
  background-color: rgba(57, 239, 221, 0);
  width: 550px;
  outline: none;
  color: #fff;
  transition: 1s;
}

.search_bar_index::-webkit-input-placeholder {
  color: #fff;
}

.search_bar_index:focus {
  padding: 5px 30px 5px 20px;
  background-color: rgba(48, 255, 217, 0.55);
  width: 600px;
  transition: 1s;
}

.search_bar_submit_index {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: -95px;
  outline: none;
  height: 58px;
  background-color: rgba(57, 239, 221, 0);
  color: #fff;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  border: none;
  transition: .3s;
}

nav {
  width: 100%;
  background-color:  transparent !important;
  background: -webkit-linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Firefox 3.6 to 15 */
  background: linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Standard syntax (must be last) */
  border: 0 !important;
  //border-bottom: 1px solid rgba(102, 239, 234, 1) !important;
  //border-bottom: 3px solid #66ffea !important;
  border-radius: 0 !important;
  height: 60px;
font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: fixed !important;
  top: 0;
  transition: top 0.3s ease-in-out !important;
  z-index: 15;
}

.navNewBackground {
   background: -webkit-linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Safari 5.1 to 6.0 */
   background: -o-linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Firefox 3.6 to 15 */
   background: linear-gradient(rgba(45, 45, 45, 1), rgba(45, 45, 45, 0.01)); /* Standard syntax (must be last) */
  //border-bottom: 1px solid rgba(102, 239, 234, 1) !important;
  width: 100% !important;
  transition: 3s;
}

.navbar-brand {
font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 8px;
}

nav a {
  text-decoration: none;
  color: #fff !important;
}

.nav-up {
    top: -60px;
}

.upload_nav_button {
  margin-top: 0px;
  background-color: transparent;
  border-radius: 10px;
}

.upload_nav_button a {
  font-size: 12px;
    text-decoration: none;
}

.upload_ul {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 20px;
  margin-top: 15px;
}

.cart_li {
  font-size: 18px;
  margin-top: -1px;
}

.destroy_icon {
  margin-top: 3px;
  padding-left: 5px;
}

.navbar-brand>img {
  margin-top: -5px;
  margin-left: -50px;
  height: 40px;
  width: 125px;
}

.dropdown>a:focus, .dropdown>a:active {
  background-color: transparent !important;
}

.dropdown-toggle {
  background-color: transparent;
}

.dropdown-menu{
  background: -webkit-linear-gradient(left top, rgba(150,150,150, 0.7), rgba(150,150,150,0.5));
  box-shadow: none;
}

.dropdown-menu>li>a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: transparent;
}

.dropdown-menu>li>a:hover {
    background-color: transparent;
}

.cred_line {
  border-left: 1px solid rgba(16, 168, 148, 0.3);
  margin-top: 6px;
  padding: 0px 15px 0px 15px;
}

.sign_up_btn {
  background-color: rgba(48, 255, 217, 0.8);
  color: #fff !important;
  margin-top: 13px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  transition: .3s;
  padding: 8px 20px 8px 20px;
}

.sign_up_btn:hover {
  transition: .3s;
  box-shadow: 17px 13px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}


// ----- INDEX PAGE TOP WELCOME CONTAINER


.index_int_container {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 100px;
}

.index_logo_left img {
  width: 200px;
  opacity: 0.5;
}

.index_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #fff;
  font-size:37px;
  margin-top: 40px;
}

.index_desc {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.17em;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.join_index {
  background-color: rgba(102, 255, 234, 0.5);
  border-radius: 10px;
  color: #fff;
font-family: 'Quicksand', sans-serif;
}

.join_index a {
  color: #fff !important;
}

.explore_index {
  background: transparent;
  border: 1px solid #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #fff;
  border-radius: 10px;
}

/* -------- genre select -------- */

.genre_select_container {
  margin-bottom: 30px;
  margin-top: 120px;
}


.genre_select_col h4 {
font-family: 'Montserrat', sans-serif;
font-weight: 100;
  color: #fff;
}

.genre_ul {
  width: 102.5%;
  margin-top: -25px;
  padding: 20px 0px 5px 20px;
  overflow-x: scroll;
  white-space: nowrap;
  border-left: 2px solid #fff;
}

.genre_ul::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.genre_li {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  border-radius: 25px;
  background: rgba(57, 239, 221, 0.1);
  padding: 5px 25px 5px 25px;
  transition: .5s;
}

.genre_li a {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.highlight {
  background-color: rgba(102, 255, 234,0.6) !important;
}

.genre_li:hover {
  background-color: rgba(102, 255, 234,0.6);
  transition: .5s;
}

/* end */

/* -------- type select -------- */

.type_select_container {
  margin-bottom: 0px;
  margin-top: 350px;
  margin-left: -45px;
}

.type_select_col h4 {
font-family: 'Montserrat', sans-serif;
font-weight: 100;
  color: #fff;
}

.type_ul {
  width: 102.5%;
  margin-top: -25px;
  padding: 20px 0px 5px 20px;
  overflow-x: scroll;
  white-space: nowrap;
  border-left: 2px solid #fff;
}

.type_ul::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.type_li {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  border: 1px solid rgb(57, 239, 221);
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  transition: .5s;
}

.type_li a {
font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-decoration: none;
}

.highlight {
  background-color: rgba(102, 255, 234,0.6) !important;
}

.type_li:hover {
  background-color: rgba(102, 255, 234,0.6);
  transition: .5s;
}

/* end */

.down_arrow {
  width: 100%;
}

.down_arrow img {
  width: 50px;

}

.category_display {
  margin-bottom: 50px;
}

.current_category_row {
  padding: 0% 32% 0% 32%;
}

.current_category {
font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(102, 255, 234);
}

.results_found_row h5 {
font-family: 'Quicksand', sans-serif;
font-weight: 300;
  color: rgb(102, 255, 234);
}

.result_notice {
font-family: 'Quicksand', sans-serif;
  color: rgba(102, 255, 234, 0.2);
}

.add_track {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 20px;
}

.add_track a:hover {
  color: #fff !important;
}

.track_panel_title {
  font-size: 20px;
  margin-top: 5px;
}

.bottom_player {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 50px;
  margin: 0%;
  background-color: rgb(9, 26, 28);
}

// ----- LOGIN VIEW RENDERED FORM STYLES


.login_panel {
  background: -webkit-linear-gradient(left top, rgba(57, 239, 221, 0.1), rgba(57, 239, 221, 0));
  margin-top: 120px;
  border: 0px solid rgb(57, 239, 221);
  border-radius: 50px;
  padding: 50px 100px 50px 100px;
  color: #fff;
}

.login_panel h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.login_panel a {
  color: #fff;
}

.login_panel input {
  background-color: transparent !important;
  border-radius: 30px;
  border: 2px solid  #30ffd9;
  color: #fff;
  transition: .6s;
}

.login_panel input:focus {
  background-color: rgba(57, 239, 221, 0.3) !important;
  border-radius: 30px;
  color: #fff;
  border: 2px solid  #10a894;
  transition: .6s;
}

.login_panel textarea {
  background-color: transparent !important;
  border-radius: 30px;
  border: 1px solid  #10a894;
}

.review_panel {
  margin-top: 20px;
  border-top: 2px solid #66efea ;
  padding: 20px 100px 50px 100px;
  color: #fff;
font-family: 'Quicksand', sans-serif;
}

.review_panel input {
  background-color: transparent !important;
  border-radius: 30px;
  border: 1px solid  #10a894;
}

.review_panel textarea {
  background-color: transparent !important;
  border-radius: 30px;
  border: 1px solid  #10a894;
}

.comments_title {
font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.review_comment_text h5 {
  font-weight: 300;
  line-height: 1.3em;
}

.main_col_sm_4 {
font-family: 'Quicksand', sans-serif;
  color: #fff;
  padding-bottom: 30px;
}

.img_log img {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.bunch {
  margin-top: 6px;
  padding-right: 15px;
}

.sign_up_btn:hover {
  background-color: rgba(0, 142, 121, 0.9) !important;
}

.sign_up_btn a:hover {
  text-decoration: none !important;
}

.genre_select {
  margin-top: 10px;
  margin-bottom: 20px;
}

.join_panel h2 {
  margin-top: 0px;
}

.join_panel h4 {
  margin-bottom: 30px;
}

// ----- AUDIO PANELS

.audio_panel {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 10px;
  width: 360px;
  // border: 1px solid #ccc;
  border-radius:7px;
  background-color: rgba(255, 255, 255, .1);
  padding: 0px 0px 0px 0px;
  transition: .5s;
}

.audio_panel:hover {
  // background-color: rgba(255, 255, 255, .15);
  // transition: .5s;
  cursor: pointer;
}

.audio_panel a {
  color: #fff;
  text-decoration: none;
}

.top_audio_panel_row {
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
}

.play_button i {
  opacity: 0.4;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 10px 10px 10px 10px;
}


.middle_audio_panel_row {
  margin-bottom: 20px;
}

.audio_panel_profile_image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  // border: 1px solid rgb(102, 255, 234);
  margin-bottom: 10px;
  margin-left: -5px;
}

.artist_name_h6 {
  padding-top: 15px;
}

.genre_col {
  padding-top: 10px;
}

.genre_tag {
    background-color: rgba(57, 239, 221, 0.6);
    padding: 4px 10px 2px 10px;
    border-radius: 12px;
    font-size: 10px;
}


.artist_tag h6 {
  padding-left: 10px;

}

.download_col {
  padding: 0px 20px 5px 0px;
}

.download_btn_inner_panel {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 400;
  border-radius: 2px;
  margin-top: 15px;
  margin-right: 10px;
  background: none;
  // background-color:  rgba(196, 196, 196, 0.7) !important;
  border: 1px solid rgba(255,255,255,0.3);
  height: 30px;
  transition: .3s;
}

.download_btn_inner_panel:hover {
    background-color:  rgba(255,255,255, 0.3) !important;
    transition: .2s;
}


.time_ago p {
  font-size: 10px;
  font-weight: 300;
  margin-top: 10px;
  padding: 5px 5px 4px 5px;
}

.play_button_index i {
  border: 1px solid rgba(255, 255, 255,0);
  border-radius: 100%;
  padding: 8px 9px 7px 11px;
  transition: .3s;
  font-size: 20px;
}

.play_button_index i:hover {
  border: 1px solid rgba(255,255,255,1);
  // background-color: rgba(102, 255, 234, 0.2);
  transition: .3s;
  cursor: pointer;
}

.panel_track_title h4 {
  margin-left: -10px;
}

.navbar_profile_image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}



// ----- SHOW VIEW


.title_artist_col {
  padding-left: 100px;
}

.back_button {
  position: absolute;
  margin-top: 130px;
  z-index: 10;
  box-shadow: none !important;
}

.back_button i{
  color: #fff !important;
  border: 2px solid rgb(102, 255, 234);
  border-radius: 100%;
  padding: 0px 17px 2px 13px;
  transition: .3s;
}

.back_button i:hover {
  background-color: rgba(102, 255, 234, 0.2);
  transition: .3s;
}

.genre_h5 {
font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 15px;
  background-color: rgba(30, 144, 255, 0.5);
  padding: 4px 10px 2px 10px;
  border-radius: 12px;
}

.time_ago_h5 {
font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 12px;
  background-color: rgba(102, 255, 234, .5);
  padding: 7px 5px 5px 9px;
  width: 100px;
  border-radius: 13px;
}
